//- chappe
//-
//- Copyright 2022, Crisp IM SAS
//- Author: Valerian Saliou <valerian@valeriansaliou.name>

style.
  :root {
    --color-accent-base: #{SITE.theme.accent.base};
    --color-accent-active: #{SITE.theme.accent.active};
  }
