//- chappe
//-
//- Copyright 2022, Crisp IM SAS
//- Author: Valerian Saliou <valerian@valeriansaliou.name>

style.
  .appearance {
    --color-accent-base: #{SITE.theme.accent.light.base};
    --color-accent-active: #{SITE.theme.accent.light.active};
  }

  .appearance[data-appearance="dark"] {
    --color-accent-base: #{SITE.theme.accent.dark.base};
    --color-accent-active: #{SITE.theme.accent.dark.active};
  }
