//- chappe
//-
//- Copyright 2021, Crisp IM SARL
//- Author: Valerian Saliou <valerian@valeriansaliou.name>

extends ../__base

block vars
  - var page    = "guides";
  - var subpage = guide.id;
  - var panes   = 2;

  //- Special: acquire all parent titles
  - var parent_titles = [];
  - var next_parent   = guide.parent;

  while next_parent
    if next_parent.id
      - parent_titles.unshift(next_parent.title);

    - next_parent = next_parent.parent;

  //- Special: generate page title
  - var page_title = guide.title;

  if parent_titles.length > 0
    - page_title += (" (" + parent_titles.join(" → ") + ")");

block title
  | #{page_title}

block append stylesheets
  +head-stylesheet("/static/stylesheets/guides/guides")

block head_metas
  - var page_url = ("/guides/" + guide.segments.join("/") + ((guide.segments.length > 0) ? "/" : ""));

  //- Special: generate page description
  - var page_description = METHODS.truncate_text(METHODS.remove_markdown(guide.markdown), FORMAT.DESCRIPTION.TRUNCATE);

  +head-metas-page(page_title, page_description, page_url)

block body_content
  #guides
    .panes
      include _sidebar_left
      include _content
