//- chappe
//-
//- Copyright 2021, Crisp IM SAS
//- Author: Valerian Saliou <valerian@valeriansaliou.name>

.content.content--padded
  .content-wrap.markdown
    +references-content-details(reference)

    != METHODS.marked(reference.data)
