// chappe
//
// Copyright 2021, Crisp IM SAS
// Author: Valerian Saliou <valerian@valeriansaliou.name>

@use "../_globals" as *;

.badge {
  border: 1px solid var(--color-badge-black);
  color: var(--color-badge-black);
  user-select: none;
  text-transform: uppercase;
  line-height: $badge-default-height;
  height: $badge-default-height;
  padding: 0 5px;
  display: inline-block;
  border-radius: 1px;

  @include font-size(10.5px);

  &.badge--special-value {
    background-color: var(--color-badge-special-background);
    border-color: var(--color-badge-special-border);
    color: var(--color-badge-special-text);
    user-select: text;
    text-transform: lowercase;
    line-height: $badge-special-value-height;
    height: $badge-special-value-height;
    border-radius: 2px;

    @include font-size(11.5px);
  }

  &.badge--small {
    line-height: $badge-small-height;
    height: $badge-small-height;
    padding: 0 3px;

    @include font-size(10px);
  }

  &.badge--white {
    border-color: var(--color-badge-white);
    color: var(--color-badge-white);
  }

  &.badge--blue {
    border-color: var(--color-badge-blue);
    color: var(--color-badge-blue);
  }

  &.badge--green {
    border-color: var(--color-badge-green);
    color: var(--color-badge-green);
  }

  &.badge--yellow {
    border-color: var(--color-badge-yellow);
    color: var(--color-badge-yellow);
  }

  &.badge--red {
    border-color: var(--color-badge-red);
    color: var(--color-badge-red);
  }
}
