// chappe
//
// Copyright 2021, Crisp IM SAS
// Author: Valerian Saliou <valerian@valeriansaliou.name>

@use "../_globals" as *;

//- Proxima Nova

// Regular

@include font-face-include("Chappe Proxima Nova Regular", "proxima_nova/proxima_nova_regular", 400, normal);
@include font-face-include("Chappe Proxima Nova Regular", "proxima_nova/proxima_nova_regular_italic", 400, italic);


// Semibold

@include font-face-include("Chappe Proxima Nova Semibold", "proxima_nova/proxima_nova_semibold", 600, normal);
@include font-face-include("Chappe Proxima Nova Semibold", "proxima_nova/proxima_nova_semibold_italic", 600, italic);


// Bold

@include font-face-include("Chappe Proxima Nova Bold", "proxima_nova/proxima_nova_bold", 700, normal);
@include font-face-include("Chappe Proxima Nova Bold", "proxima_nova/proxima_nova_bold_italic", 700, italic);

//- Hack

// Regular

@include font-face-include("Chappe Hack Regular", "hack/hack_regular", 400, normal);

//- Bindings

//- Sans Serif

.font-sans-regular {
  font-family: "Chappe Proxima Nova Regular", sans-serif;
}

.font-sans-semibold {
  font-family: "Chappe Proxima Nova Semibold", sans-serif;
}

.font-sans-bold {
  font-family: "Chappe Proxima Nova Bold", sans-serif;
}

.font-code-regular {
  font-family: "Chappe Hack Regular", sans-serif;
}
