on: [push, pull_request]

name: Test and Build

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest]
        node-version: [12.x]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install NodeJS
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Verify versions
        run: node --version && npm --version && node -p process.versions.v8

      - name: Cache build artifacts
        id: cache-node
        uses: actions/cache@v2
        with:
          path: |
            ~/.npm
            node_modules
            bower_components
          key: ${{ runner.os }}-node-${{ matrix.node-version }}

      - name: Install global dependencies
        run: npm install -g npm-force-resolutions

      - name: Install local dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Build assets
        run: npm run build
